.navbar-toggler {
  width: 3.5rem;
  height: 2.5rem;
}

.navbar-toggler-secondary-right {
  position: absolute;
  right: 5rem;
}

.nav-link.fa-2x {
  padding: 0.25rem 0;
}
@media (min-width: 992px) {
  .nav-link.fa-2x {
    padding: 0.25rem 0.5rem;
  }
}

/* fix for images in carousels */
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

/* override style of sibling list items that are not selected */
.nav-pills .nav-item.show .dropdown-menu .nav-link:not(.active) {
  color: #0275d8;
  cursor: auto;
  background-color: transparent;
}

.dropdown-menu {
  margin-top: 0;
  width: 100%;
}

.carousel-control-prev, .carousel-control-next {
  top: 37.5%;
  height: 25%;
}

/* formatting for the cv page */
#cv-container h1, #cv-container h2 {
  text-align: center;         /* text-center */
}

#cv-container h5, #cv-container h6 {
  color: #636c72!important;   /* text-muted */
}
@media (min-width: 48rem) {
  /* move sub-header to right alongside previous header on larger displays */
  #cv-container h5, #cv-container h6 {
    position: relative;
    top: -1.625rem;
    margin-bottom: -1.125rem;
    text-align: right;          /* text-right */
  }
}

#cv-container p {
  margin-bottom: 0.5rem;
}
