/* fix for images in carousels */
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

/* dropdown show on hover */
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin-top: 0;
  width: 100%;
}

.nav-link.fa-2x {
  padding: 0.125em 0.5em;
}

/* formatting for the cv page */
#cv-container h1, #cv-container h2 {
  text-align: center;         /* text-center */
}

#cv-container h5, #cv-container h6 {
  /* move header to right alongside previous header; not responsive */
  position: relative;
  top: -1.625rem;
  margin-bottom: -1.125rem;
  text-align: right;          /* text-right */
  color: #636c72!important;   /* text-muted */
}

#cv-container p {
  margin-bottom: 0.5rem;
}
