<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <title>Jay Sebastian | <!-- TEMPLATE: title --></title>
  <link rel="icon" type="image/vnd.microsoft.icon" href="<!-- TEMPLATE: path_prefix -->favicon.ico" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="<!-- TEMPLATE: path_prefix -->custom.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="<!-- TEMPLATE: path_prefix -->custom.js"></script>
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-light navbar-toggleable-md bg-faded sticky-top mb-4">
    <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="<!-- TEMPLATE: path_prefix -->index.html">Jay Sebastian</a>
    <div id="navbar-content" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link <!-- TEMPLATE: portfolio_active -->" href="<!-- TEMPLATE: path_prefix -->portfolio.html">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <!-- TEMPLATE: cv_active -->" href="<!-- TEMPLATE: path_prefix -->cv.html">CV</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link fa fa-2x fa-github" href="https://github.com/SebastianJay" target="_blank"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link fa fa-2x fa-soundcloud" href="https://soundcloud.com/jaysebastian" target="_blank"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link fa fa-2x fa-linkedin" href="https://linkedin.com/in/jay-sebastian-4a3910105" target="_blank"></a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- TEMPLATE: body -->

</body>

</html>
