<!-- portfolio div -->
<div id="portfolio-container" class="container">
  <div class="row no-gutters">
    <div class="col-md-12">
      <ul id="portfolio-nav" class="nav nav-pills nav-justified">
        <!-- TEMPLATE: nav_links -->
      </ul>
    </div>
  </div>
  <div id="item-default" class="row no-gutters">
    <div class="col-md-12 card">
      <div class="card-block">
        <p class="card-text text-center">
          Click on one of the links above for a description of that project.
          Please be patient as images and videos load on this page.
        </p>
      </div>
    </div>
  </div>

  <!-- TEMPLATE: portfolio_items -->

</div>
